/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.banner {
    display: flex;
    overflow: hidden;
    /* Adjust the animation to move the images horizontally */
    animation: scrollBanner 20s linear infinite; /* Doubled the duration for smoother scrolling */
}

.image {
    flex: 0 0 100%;
    /* Ensure each image takes up the full width of the container */
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}